.note-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }
  
  .no-notes-message {
    font-size: 20px;
    color: #999;
    text-align: center;
    margin-top: 20px;
  }
  